@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "Appointment";
    int count = 1;
}

<div class="card">
    <h1 class="card-header">Appointments</h1>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Full Name</th>
                    <th>Phone Number</th>
                    <th>Service</th>
                    <th>Doctor</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var appointment in Model)
                {
                    <tr>
                        <th>@count</th>
                        <td>@appointment.Name @appointment.Surname</td>
                        <td>@appointment.Phone</td>
                        <td>@appointment.Doctor.AssociatedService</td>
                        <td>@appointment.Doctor.Fullname</td>
                        <td>@appointment.AppointmentDate.ToString("dd/MM/yyyy")</td>
                        <td>@((DateTime.Today + appointment.AppointmentTime).ToString("HH:mm"))</td>

                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-route-id="@appointment.Id" asp-action="Update"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" asp-route-id="@appointment.Id" asp-action="Delete"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>
</div>
