@model IEnumerable<Service>
@{
    ViewData["Title"] = "Index";
    int count = 1;

}

<!-- Basic Bootstrap Table -->
<div class="card">
    <h1 class="card-header">Services </h1>
    <div class="card-header">
        <form method="post" asp-action="DeleteAllServices" onsubmit="showConfirmationModal(); return false;">
            <button type="submit" class="btn btn-danger">Delete All Services</button>
        </form>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Info</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var service in Model)
                {
                    <tr>
                        <th>@count</th>
                        <td><img src="@service.ImagePath" style="width:120px" /></td>
                        <td>@service.Title</td>
                        <td>@service.Description</td>
                        <td>@service.ServiceDetail.Info</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-route-id="@service.Id" asp-action="Update"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" asp-route-id="@service.Id" asp-action="Delete"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    count++;
                }

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all services?
            </div>
            <div class="modal-footer">
                <a asp-controller="Service" asp-action="Index"><button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button></a>
                <form method="post" asp-action="DeleteAllServices">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function showConfirmationModal() {
        $('#confirmationModal').modal('show');
    }</script>


<!--/ Basic Bootstrap Table -->