@model DoctorVM
@using X.PagedList
@using X.PagedList.Mvc.Core
@{

    ViewData["Title"] = "Index";
}
<script src="~/assets/js/contact.js"></script>
<link rel="stylesheet" href="./assets/css/doctor.css?v=5">
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image: url('../assets/img/all-page-bg.jpeg')">
    <h1>Doctors</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">Doctors</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Doctors Content Area Start -->
<div class="doctors-container">
    <div class="doctors-content">
        <p class="doctors_title">Our Doctors</p>
        <p class="doctors_text">You can find the list of all our doctors working in our organization here.</p>
    </div>
    <div class="doctors-area">
        @foreach (var doctor in Model.Doctors)
        {
            <div class="doctors-info">
                <img class="doctors_img" src="@doctor.ImagePath" alt="">
                <p class="doctor_name">@doctor.Fullname</p>
                <p class="doctor_department">@doctor.AssociatedService.Title</p>

                <div class="show_up_button">
                    <a href="@Url.Action("Index", "DoctorDetail", new { doctorDetailId = doctor.Id })">
                        <button class="doctors_button">View Profile</button>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<br />

<div class="centered-pagination" style="display:flex;justify-content:center;align-items:center">
    <div class="pagination-container text-center">
        @Html.PagedListPager(Model.Doctors, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
    </div>
</div>


<!-- Doctors Content Area End -->
