@using Microsoft.AspNetCore.Mvc.Localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer localizer

@model AboutVM
@{

    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="./assets/css/about.css?v=2">
<script defer src="./assets/js/about.js"></script>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-container" style="background-image:url('../assets/img/all-page-bg.jpeg')">
    <h1>@localizer["aboutUs"]</h1>
    <div class="breadcrumb-area" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" style="color:darkturquoise ;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="color:white">@localizer["aboutUs"]</li>
        </ol>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Main Content Start -->
<div class="main-content">
    <div class="main-img">
        <img src="~/assets/img/about-page-picture.jpeg" alt="">
    </div>
    <div class="main-p">
        <p> <strong>@localizer["asZeusMed"],</strong> @localizer["aboutP-1"]</p>
        <p>
            @localizer["aboutP-2"]
            <br>
            <br>
            @localizer["aboutP-3-1"] :<strong>"@localizer["aboutP-3-2"]"</strong>,  @localizer["aboutP-3-3"]
        </p>
        <p>
            @localizer["aboutP-4"]
        </p>
        <p>
            @localizer["aboutP-5"]
        </p>
        <div class="quality-p">
            <h3> @localizer["aboutQ"]</h3>
            <p>
                @localizer["aboutQ-1"]
                <br>
                <br>
                @localizer["aboutQ-2"]
            </p>
        </div>
    </div>
    <div class="zoom-image">
        <img class="thumbnail" src="./assets/img/zoom-image-1.jpeg"
             alt="@localizer["alt-1"]" width="250" height="250">
        <img class="thumbnail" src="./assets/img/zoom-image-2.jpeg" alt="@localizer["alt-2"]"
             width="250" height="250">
        <img class="thumbnail" src="./assets/img/zoom-image-3.jpeg" alt="@localizer["alt-3"]"
             width="250" height="250">
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>
</div>
<!-- Main Content End -->
